#error{
    color: red;
}

#save_street_form {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
}

#save_street_input {
    width: 80px;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 700px;
}

ul li {
    margin-bottom: 5px;
}

.saved-street-list-item {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 5px;
}

.saved-street {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    color: #333;
    font-size: 1rem;
    width: 100%;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06); */
}

#save_street_input {
    width: 18rem;
}

#submit-button {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    background: #007bff;
    color: white;
    cursor: pointer;
}

#submit-button:hover {
    background: #0056b3;
}

.delete-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    background: #007bff;
    color: white;
    cursor: pointer;
}