.closure-element {

}

.selected-class {
    background-color: gray;
}

#results {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
}

#search-options {
    display: flex;
    gap: 1rem;
}